name: TikTokApi CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
      - nightly
      - 'releases/*'

jobs:
  Unit-Tests:
    timeout-minutes: 30
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest]
        python-version: [3.7, 3.8, 3.9]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
      - uses: microsoft/playwright-github-action@v1
      - name: Install Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Setup dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest
          python -m playwright install

      - name: Run Tests
        env:
          PROXY: ${{ secrets.PROXY }}
          verifyFp: ${{ secrets.verifyFp }}
        run: pytest tests